.next-pages {
  margin-block: 15px;
  margin-inline: auto;
  display: flex;
  gap: 5px;
  width: max-content;
}
.next-pages > button {
  all: unset;
  padding-inline: 12px;
  padding-block: 6px;
  font-size: 1.1rem;
  border-radius: 5px;
  /* background-color: rgb(14, 123, 224); */
}
.text-btn {
  color: var(--color-bg-dark-hover) !important;
}
.next-pages > button:hover {
  /* outline: 2px solid var(--color-bg-dark-hover); */
  box-shadow: 0 0 0 2px var(--color-bg-dark-hover);
}
.active {
  background-color: var(--color-bg-dark-hover) !important;
}
.disabled-btn {
  color: var(--color-disabled-btn) !important;
}
.disabled-btn:hover {
  box-shadow: none !important;
}
.gap {
  padding-inline: 5px;
  padding-top: 8px;
}
